body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    height: 110vh; /* Establecer altura al 100% de la ventana */
    background-color: black; /* Como la iamgen es transparente se pone un color negro de fondo xddddd */
    background-image: url('./activos/FondoTwitch.png');/* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
}

/*
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
*/


    /*#slogan 
        position: absolute;
        top: 300px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        /*left: 50%; /* Coloca la mitad del texto en la posición horizontal */
        /*transform: translateX(-50%); /* Centra el texto horizontalmente */
        /*text-align: center; /* Alinea el texto al centro */
        /*font-size: 43px; /* Ajusta el tamaño del texto según tus necesidades */
        /*color: white; /* Color del texto */
        /*white-space: nowrap; /* Evita el salto de línea */



#amazon-logo {
    position: absolute;
    top: 130%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 400px; 
}

#slogan, h1 {
    position: absolute;
    top: 300px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    font-size: 43px; 
    color: white; 
    white-space: nowrap;
}

#other-slogan {
    position: absolute;
    top: 300px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    font-size: 43px; 
    color: white; 
    white-space: nowrap;
}

#other-slogan1 {
    position: absolute;
    top: 400px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    font-size: 43px; 
    color: white; 
    white-space: nowrap; 
}

#other-slogan2 {
    position: absolute;
    top: 400px; 
    left: 50%; 
    transform: translateX(-50%);
    text-align: center; 
    font-size: 43px; 
    color: white; 
    white-space: nowrap;
}


#buscador {
    position: absolute;
    top: 1px; 
    left: 55px; 
    transform: translateX(-50%); 
    width: 20px; 
}

#fondo-login {
    position: absolute;
    top: 1px; 
    left: 1250px; 
    transform: translateX(-50%); 
    width: 150px; 
}

#login-letter {
    position: absolute;
    top: 13px;
    left: 1250px; 
    transform: translateX(-50%);
    width: 40px; 
}